@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@800&family=Roboto:wght@400;500;700;900&display=swap');

:root {
  --iriscolor: #4d5ae5;
  --navybluecolor: #2e2f42;
  --navcolor: black;
  --oceanblue: #2196f3;
  --whitecolor: white;
  --slatecolor: #434455;
  --cornflowercolor: #e7e9fc;
  --cloudcolor: #f4f4fd;
  --greencolor: #31d0aa;
  --lightslatecolor: #8e8f99;
  --navybluemodalcolor: #2e2f42;
  --greycolor: #2e2f42;
  --dairycolor: #fcfcfc;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}

/* Main Page */
body {
  width: 1440px;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

/* Header */
.header {
  border-bottom: 1px solid var(--CORNFLOWER, #e7e9fc);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25),
    0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.container {
  padding: 0 15px;
  width: 1158px;
  margin: 0 auto;
}

.container-flex {
  display: flex;
  justify-content: space-between;
}

.navigation {
  display: flex;
  align-items: center;
}

.logo {
  color: var(--IRIS, #4d5ae5);
  font-family: Raleway, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.head-logo {
  margin-right: 76px;
}

.heading {
  display: flex;
  gap: 40px;
}

.textlogo {
  color: var(--navybluecolor);
}

.list {
  list-style-type: none;
}

.contacts {
  font-style: normal;
}

.link-head {
  color: var(--NAVY-BLUE, #2e2f42);
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 24px 0;
  display: block;
}

.link:hover {
  color: #404bbf;
}
.link:focus {
  color: #404bbf;
}

/* 1st Section */
.first {
  background-color: #2e2f42;
}

.class-header {
  color: var(--WHITE, #fff);
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}
.button {
  background: #4d5ae5;
  font-family: Roboto, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;
  cursor: pointer;
}

.button:hover {
  background-color: #404bbf;
}
.button:focus {
  background-color: #404bbf;
}

.list-header {
  font-size: 20px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
  color: #2e2f42;
}

.textlist {
  color: var(--SLATE, #434455);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.third,
.fourth {
  color: var(--NAVY-BLUE, #2e2f42);
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
}

.fourth-section {
  background-color: #f4f4fd;
}

.list .nav-links {
  background-color: #fff;
}

.below {
  background-color: var(--NAVY-BLUE, #2e2f42);
}

.text-logo {
  color: #f4f4fd;
}

.footer-logotext {
  line-height: 1.5;
  color: #f4f4fd;
  letter-spacing: 0.02em;
}

.services {
  color: var(--NAVY-BLUE, #2e2f42);
  font-size: 56px;
  font-weight: 700;
  line-height: 1.07;
  letter-spacing: 0.02em;
}

.btn {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #4d5ae5;
  background-color: #f4f4fd;
  cursor: pointer;
}

.btn:hover {
  color: #ffffff;
  background-color: #404bbf;
}
.btn:focus {
  color: #ffffff;
  background-color: #404bbf;
}
